@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-3
}

.bg-primary{
  background-color: rgb(41, 40, 40);
  
}
.bg-secondary{
  background-color: black;
}
.mobile-nav{
  @apply fixed top-12 right-0 w-1/3 h-fit 
  
}
.mobile-nav{
  background-color:  rgb(41, 40, 40);
  
}
.mobile-nav li{
@apply w-full h-full text-center border-b-2 py-3
}
.test{
  border-top-left-radius:2px;
  border-bottom-left-radius: 5px;
}
.mainText{
  padding-top: 15%;
  padding-left: 50px;
}
.textColor{
  color: aliceblue;
}
.project-description{
  @apply absolute left-0 right-0 bottom-0 top-0 bg-green-500 opacity-0 duration-500 hover:opacity-100
}
.image-redius{
  border-radius: 10px;
}
.btn{
  @apply font-bold bg-green-500 hover:border-2 py-2 px-5 rounded; 
}
.btn-project{
  @apply font-bold bg-black hover:border-2 py-2 px-5 rounded; 
}
html{
  scroll-behavior:smooth;
}